{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container-fluid tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            О сайте Каталог-Z
        </h2>
    </div>
    <div class="row tm-mb-74 tm-row-1640">
        <div class="col-lg-5 col-md-6 col-12 mb-3">
            <img src="{% static 'img/about.jpg' %}" alt="Изображение" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-6 col-12">
            <div class="tm-about-img-text">
                <p class="mb-4">
                    Каталог-Z — это уникальная платформа для тех, кто хочет делиться своими фотографиями и видео с миром. Мы стремимся создать сообщество, где каждый пользователь может публиковать свой контент, обмениваться идеями и вдохновляться творчеством других.
                </p>
                <p>
                    Наш сайт разработан с использованием современных технологий, чтобы обеспечить вам лучший пользовательский опыт. Мы регулярно обновляем платформу, добавляя новые функции и улучшая уже существующие, чтобы соответствовать вашим ожиданиям и потребностям.
                </p>
                <p>Мы всегда рады получить обратную связь от наших пользователей. Если у вас есть предложения или вопросы, пожалуйста, <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">свяжитесь с нами</a>. Спасибо, что выбрали Каталог-Z!</p>
            </div>
        </div>
    </div>
    <div class="row tm-mb-50">
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    Наша миссия
                </h2>
                <p class="mb-4">
                    Наша миссия — предоставить каждому пользователю удобную и безопасную платформу для обмена своими работами с широкой аудиторией. Мы верим в силу визуального контента и хотим помочь вам раскрыть свой творческий потенциал.
                </p>
                <p>
                    Мы стремимся создать сообщество, где каждый может найти вдохновение, получить поддержку и развивать свои навыки. Будь вы профессиональным фотографом или любителем, Каталог-Z открыт для всех!
                </p>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    Наши ценности
                </h2>
                <p class="mb-4">
                    Мы ценим творчество, инновации и сотрудничество. Мы гордимся тем, что предоставляем нашим пользователям современную платформу, которая помогает воплощать в жизнь их идеи и делиться ими с миром.
                </p>
                <p>
                    В Каталог-Z мы стремимся поддерживать высокие стандарты качества и безопасности, чтобы каждый пользователь чувствовал себя комфортно и уверенно, используя наш сайт.
                </p>
            </div>
        </div>
    </div>
    <div class="row tm-mb-50">
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Технологии и дизайн</h2>
                <p class="mb-4">Наш сайт разработан с использованием передовых технологий, чтобы обеспечить вам максимальный комфорт и удобство при работе с ним. Мы заботимся о каждом элементе дизайна, чтобы вы могли насладиться лучшим пользовательским опытом.</p>
                <p>Сочетание современных технологий и привлекательного дизайна позволяет нам предоставлять вам платформу, которая соответствует всем вашим ожиданиям.</p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Мобильные решения</h2>
                <p class="tm-mb-50">Каталог-Z оптимизирован для мобильных устройств, что позволяет вам публиковать и просматривать контент в любое время и в любом месте. Мы понимаем, насколько важно быть на связи, поэтому сделали наш сайт доступным для всех устройств.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Мультимедиа и контент</h2>
                <p class="mb-4">Каталог-Z поддерживает различные форматы мультимедиа, включая фотографии и видео. Мы стремимся предоставить вам максимальную свободу в выборе формата, чтобы вы могли поделиться своим контентом в лучшем виде.</p>
                <p>Благодаря нашей платформе вы можете легко публиковать и управлять своим контентом, делая его доступным для широкой аудитории.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
